body{
    margin:0;
    background-color: #ffff;
}
  .sidenav {
    height: 100%; 
    width: 200px;
    position: fixed; 
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #e3e3e3; 
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 40px;
    border-right: 2px solid black;
}
.sidenav a,.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .sidenav a:hover, .dropdown-btn:hover {
    color: #5533ff;
  }
  .dropdown-container {
    display: block;
    background-color: #e3e3e3;
    padding-left: 8px;
  }
  
  .main {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer{
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  hr{
    border-color: black;
    margin-left: 350px;
    margin-right: 100px;
  }
