@import url("https://fonts.googleapis.com/css?family=Poppins");
body{
  font-family: 'Poppins';
  background-color: #f4fcff;
}
.sidenav {
    height: 100%; 
    width: 200px;
    position: fixed; 
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: black; 
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 40px;
    border-right: 2px solid black;
}
.sidenav a,.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .btn{
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .dropdown-btn{
    font-size: 25px;
    padding: 20px;
  }
  .navitem{
    margin-top: 10px;
  }
  .sidenav a:hover, .dropdown-btn:hover,.btn:hover{
    color: #ba9ffb;
  }
  .dropdown-container {
    display: none;
    background-color: black;
    padding-left: 8px;
  }
  .dropitem{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #html,#css,#js,#py,#c{
    margin-left: 10px;
    font-size: 25px;
  }
  .main {
    padding-top: 50px;
    padding-left: 40px;
    margin-left: 250px;
  }
  .title{
    font-size: 60px;
  }
  .card {
    /* Add shadows to create the "card" effect */
    border: 1px solid black;
    transition: 0.3s;
    width: 300px;
    height: 125px;
    background-color: white;
  }
  
  .card:hover {
    box-shadow: -5px 5px black;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    line-height: 2px;
  }
  .card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  pre button {
    position: relative;
    top: 5px;
    right: 5px;
  
    font-size: 0.9rem;
    padding: 0.15rem;
    background-color: #828282;
  
    border: ridge 1px #7b7b7c;
    border-radius: 5px;
    text-shadow: #c4c4c4 0 0 2px;
  }
  pre button:hover {
    cursor: pointer;
    background-color: #bcbabb;
  }
