@import url("https://fonts.googleapis.com/css?family=Poppins");
body{
    margin:0;
    background-color: #f4fcff;
    font-family: 'Poppins';
}
.sidenav {
  height: 100%; 
  width: 200px;
  position: fixed; 
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: black; 
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 40px;
  border-right: 2px solid black;
}
.sidenav a,.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
  .sidenav a:hover, .dropdown-btn:hover {
    color: #ba9ffb;
  }
  .dropdown-container {
    display: block;
    background-color: black;
    padding-left: 8px;
  }
  
  .main {
    margin-left: 350px;
    max-width: 1000px;
    margin-top: 100px;
    line-height: 35px;
    font-size: 18px;
  }
  footer{
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  hr{
    border-color: black;
    margin-left: 350px;
    margin-right: 100px;
  }
strong{
  font-weight: bolder;
}
.topfooter{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: 250px;
}
